<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" beStrictAboutTestsThatDoNotTestAnything="true" beStrictAboutOutputDuringTests="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">./src</directory>
		</include>
		<report>
			<clover outputFile="clover.xml"/>
			<html outputDirectory="coverage/"/>
		</report>
	</coverage>
	<testsuites>
		<testsuite name="Tests">
			<directory>./test/suites</directory>
		</testsuite>
	</testsuites>
	<logging/>
</phpunit>
